// Grays
$dark-gray:#4A4A4A;
$middle-gray:#9B9B9B;
$light-gray:#DDDDDD;
$lightest-gray:#eeeeee;
$off-white:#fafafa;

// Colors
$green: #7E9672;
$red: #F33C3A;
$dark-green:#008606;
// $pale-blue:#F6FFFF;
$pale-blue:#F7F9FF;
$blue:#219CD5;
// $dark-blue:#10709C;
$dark-blue:#293678;

// Color Scheme
$primaryAccent:$dark-blue;
$primaryAccentHover:$red;

// Utility Colors
$success:#589B0F;
$warning:#E46574;