// Grays
$dark-gray:#4A4A4A;
$middle-gray:#9B9B9B;
$light-gray:#DDDDDD;
$lightest-gray:#eeeeee;
$off-white:#fafafa;

// Colors
$green: #7E9672;
$dark-green:#008606;
$pale-blue:#F6FFFF;
$blue:#219CD5;
$dark-blue:#10709C;

// Color Scheme
$primaryAccent:$dark-blue;
$primaryAccentHover:$blue;

// Utility Colors
$success:#589B0F;
$warning:#E46574;