.site-header {
  position: relative;
  display:flex;
  justify-content:flex-end;
  z-index:1000;
  padding-top:$outerGutter;
  padding-bottom: 2.65em;
  @media(max-width:$tablet) {
    padding-top:$outerGutterTablet;
  }
  @media(max-width:$mobile) {
    padding-top:$outerGutterMobile;
  }
  .site-title {
    display: inline-block;
    text-transform:uppercase;
    h1 {
      margin:2px 1em 0 0;
    }
    span {
      position: relative;
      top:-7px;
      opacity:.5;
      @media(max-width:$mobile) {
        top:6px;
      }
    }
  }
  .nav-control {
    position: relative;
    display: inline-block;
    padding:.85em;
    outline: none;
    .hamburger {
      width:33px;
      height:5px;
      background: $primaryAccent;
      border-radius:1px;
      transform-origin: 0 0;
      transition:opacity 150ms ease-out, transform 150ms ease-out, background 150ms ease-out;
      &.top-bun {
        transform-origin:0 0;
      }
      &.meat {
        margin:6px 0;
      }
      &.bottom-bun {
        transform-origin:0 100%;
      }
    }
    &:hover {
      .hamburger {
        background: $primaryAccentHover;
      }
    }
    &.is-x {
      .top-bun {
        transform:rotate(45deg);
      }
      .meat {
        opacity:0;
      }
      .bottom-bun {
        transform:rotate(-45deg);
      }
    }
  } /* end .nav-control */
  .site-nav {
    display: none;
    position:absolute;
    top:11em;
    right:4em;
    @media (max-width:$mobile) {
      right:3em;
    }
    ul {
      li {
        position: relative;
        display: block;
        list-style-type: none;
        margin-bottom: 1em;
        text-align: right;
        opacity: 0;
        transform:translateY(1em);
        a {
          position: relative;
          display:inline-block;
          transform:translateX(0);
          right:-.85em; // these prevent gap between a and :after
          padding-right:.85em;
          @include ms4;
          font-weight: bold;
          transition:transform 150ms ease-out, color 150ms ease-out;
          @media(max-width: $mobile) {
            @include ms2;
          }
        }
        i, svg {
          position:absolute;
          right:0;
          top:0;
          bottom: 0;
          transform:translateY(4px);
          z-index:-1;
          margin:auto;
          opacity: 0;
          color:$primaryAccent;
          @include ms3;
          transition:opacity 150ms ease-out;
          @media (max-width:$mobile) {
            @include ms1;
            transform:translate(6px);
          }
        }
        &:hover, &.current_page_item {
          a {
            transform:translateX(-.85em);
          }
          i, svg {
            opacity: 1;
          }
        }
        &:hover {
          i, svg {
            color:$primaryAccentHover;
          }
        }
        &.current_page_item {
          i, svg {
            transform:rotate(180deg) translateY(-2px);
          }
        } /* end a */
      } /* end li */
    } /* end ul */
    .admin-login {
      position:fixed;
      bottom:2em;
      left:2em;
      @include ms-2;
      font-weight:normal;
      text-transform: uppercase;
      letter-spacing:1px;
      color:$middle-gray;
    }
  } /* end .site-nav */
  &.is-active {
    z-index: 1000;
    .site-nav {
      display:block;
    }
  }

} /* end .site-header */

.menu-shader {
  position:fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  z-index:-1;
  background:rgba(255,255,255,.95);
  transition:opacity 150ms ease-out;
  &.is-active {
    z-index: 999;
  }
}