$outerGutter:2.65em;
$outerGutterTablet:2em;
$outerGutterMobile:1em;
$footerHeight:3em;

html, body {
  height:100%;
  margin:0;
  box-sizing: border-box;
}

body.work {
  overflow: hidden;
  @media(max-width:$mobile) {
    overflow:auto;
  }
}

* {
  box-sizing: inherit;
}

.wrapper-for-sticky {
  min-height: 100%;
  margin-bottom: -$footerHeight;
}

.site-footer, .push {
  height:$footerHeight;
}

main {
  display:block;
  margin-bottom:6em;
}

.outer-wrap {
  max-width:90em;
  padding-left: $outerGutter;
  padding-right: $outerGutter;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:$tablet) {
    padding-left: $outerGutterTablet;
    padding-right: $outerGutterTablet;
  }
  @media (max-width:$mobile) {
    padding-left: $outerGutterMobile;
    padding-right: $outerGutterMobile;
  }
}

.inner-wrap {
  max-width:44.5em;
  padding-left: $outerGutter;
  padding-right: $outerGutter;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:$tablet) {
    padding-left: $outerGutterTablet;
    padding-right: $outerGutterTablet;
  }
  @media (max-width:$mobile) {
    padding-left: $outerGutterMobile;
    padding-right: $outerGutterMobile;
  }
}

.inner-wrap-oversized {
  max-width:61em;
  padding-left: $outerGutter;
  padding-right: $outerGutter;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:$tablet) {
    padding-left: $outerGutterTablet;
    padding-right: $outerGutterTablet;
  }
  @media (max-width:$mobile) {
    padding-left: $outerGutterMobile;
    padding-right: $outerGutterMobile;
  }
}

ul {
  padding:0;
}

img {
  max-width:100%;
  height:auto;
}