.page {
  .featured-image-container {
    float:left;
    margin-right:3.5em;
    margin-bottom: 2em;
    img {
      position: relative;
      top:8px;
    }
    @media (max-width:$mobile) {
      max-width:50%;
      margin-right: 2em;
    }
    @media (max-width:$small) {
      max-width:none;
    }
  }
}

.page.about {
  .links {
    display:inline-block;
    border-top: 1px solid $light-gray;
    margin-top: 1em;
    padding:.65em 0 0 0;
    a {
      display:inline-flex;
      color:$dark-gray;
      margin-right:.75em;
      align-items: center;
      i, svg {
        display:inline-block;
        margin-right:.35em;
        height:1.25em;
        width:1.25em;
      }
      &:hover {
        color:$primaryAccent;
      }
    }
  } /* end .links */
  .inner-wrap-oversized {
    .inner-wrap {
      padding:0;
    }
  }
}

.page.contact {
  h5 {
    margin-bottom: 0;
  }
  button {
    float:right;
  }
  .message-success {
    margin-top: 3em;
    border:1px solid rgba($success,.5);
    border-radius:3px;
    color:$success;
    text-align: center;
    background: rgba($success,.1);
    i, svg {
      display:inline-block;
      height:1em;
      width:1em;
      margin-right: .5em;
    }
  }
  form {
    max-width:30em;
    margin:3em auto 3em auto;
  }
}